<div class="container-fluid page text-center">
    <main role="main" class="row p-0">


      <!-- Start Page Body Contents -->

      <div class="col-md-12 home-welcome">
        <div class="title-home">
          <div class="typewriter">
            <h1 class="fs-1 d-none d-lg-block">Welcome To HPD Tech Design System</h1>
          </div>
          <h1 class=" fs-2 d-lg-none">Welcome To HPD Tech Design System</h1>
          <p class="fs-6">HPD Design System is a set of standards, principles and rules every developer or designer
            should follow in order to improve the digital presence of the product. It clearly demonstrates how all
            interface elements and components are to be visually represented. It’s essentially a master reference for
            the user interface (UI). </p>
          <img src="assets/img/introImage.png" class="illustration img-fluid" alt="HPD Design System" />
        </div>
      </div>
      <div class="col-md-12 home-resoures">
        <div class="row">
            <h2>PreRequirement</h2>
            <h3>Dependency</h3>
            <p>@angular/material@14.2.0: <code>Npm install @angular/material@14.2.0</code></p>
            <p>@angular/cdk@14.2.0: <code>Npm install @angular/cdk@14.2.0</code></p>
            <h3>CSS</h3>
            <p>for better UI style please put below code inside style.scss</p>
            <code>@import "~bootstrap/dist/css/bootstrap.css"</code>
            <p></p>
        </div>
        <div class="row">
            <h2>Install HPD-Utility Library</h2>
            <code>npm install  [filePath]/hpd-utility-0.0.1.tgz</code>
            <p></p>
        </div>
        <div class="row">
          npm install
        </div>
      </div>

      <!-- End Page Body Contents -->

    </main>
  </div>